<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        作者: <a href="https://jedore.top/blog/about" target="_blank">Jedore</a>
        <br>
        出处: <a href="{{ .RelPermalink }}">{{ .Page.Permalink }}</a>
        <br>
        版权:
        <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank">
            CC BY-NC-ND 4.0
<!--            <img style="height:15px!important;margin-left:1px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">-->
<!--            <img style="height:15px!important;margin-left:1px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">-->
<!--            <img style="height:15px!important;margin-left:1px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1">-->
<!--            <img style="height:15px!important;margin-left:1px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1">-->
        </a>
        <br>
        声明: 本文版权归作者所有,欢迎转载,但未经作者同意必须保留此段声明,且在文章页面明显位置给出
        <a href="{{ .RelPermalink }}" style="color: #903101">原文链接</a>.
<!--        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>-->
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod" style="display: flex">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
</footer>
