body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: #4b5563;
    padding: 1.5rem 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.nav-section.left {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
}

.home-link {
    width: 8rem;
    height: 2.5rem;
}

.home-link img {
    height: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: #6b7280;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: #2563eb;
}

main {
    flex-grow: 1;
    max-width: 80rem;
    margin: 6rem auto 0;
    padding: 3rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 30px rgba(37, 99, 235, 0.15);
    border-color: rgba(37, 99, 235, 0.3);
}

.card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2563eb;
    font-family: 'Futura', sans-serif;
    margin-bottom: 0.75rem;
}

.card p {
    color: #9ca3af;
    margin-bottom: 1rem;
}

.card a {
    color: #2563eb;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.card a:hover {
    color: #1a1a1a;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    color: #2563eb; /* primary 颜色 */
}

.contact-link:hover {
    color: #1a1a1a; /* secondary 颜色 */
}

.qr-code {
    display: none;
    position: absolute;
    z-index: 50;
    background-color: white;
    border-radius: 8px; /* 近似 md 圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
}

.qr-code img {
    margin: 0;
}

.contact-link:hover + .qr-code {
    display: block;
}

footer {
    background-color: #f9fafb;
    /*color: #4b5563;*/
    padding: 1.5rem 0;
    border-top: 1px solid #e5e7eb;
}

footer div {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    color: rgba(107, 114, 128, 1);
}